In [17]:
import pandas as pd
import numpy as np
import sqlite3

In [19]:
# Connect to the db and query for the time column

try:
    conn = sqlite3.connect('../BTC_data.db')
    query = "SELECT time FROM BTC_data;"
    df = pd.read_sql_query(query, conn)
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    if conn:
        conn.close()

In [20]:
# Feature Engineering

df['time'] = pd.to_datetime(df['time'])
df['hour'] = df['time'].dt.hour
df['day_of_week'] = df['time'].dt.dayofweek  # Monday=0, Sunday=6

# Define opening hours for USA (9-17 UTC), EU (8-16 UTC), ASIA (1-9 UTC)
df['USA_open'] = (df['hour'] >= 9) & (df['hour'] < 17)
df['EU_open'] = (df['hour'] >= 8) & (df['hour'] < 16)
df['ASIA_open'] = (df['hour'] >= 1) & (df['hour'] < 9)

In [21]:
df.head()

                 time  hour  day_of_week  USA_open  EU_open  ASIA_open
0 2022-09-01 06:45:00     6            3     False    False       True
1 2022-09-01 07:00:00     7            3     False    False       True
2 2022-09-01 07:15:00     7            3     False    False       True
3 2022-09-01 07:30:00     7            3     False    False       True
4 2022-09-01 07:45:00     7            3     False    False       True

# Append back to the db

try:
    conn = sqlite3.connect('../BTC_data.db')
    # Append new columns only if they don't exist
    cursor = conn.cursor()
    cursor.execute("PRAGMA table_info(BTC_data);")
    existing_columns = [column[1] for column in cursor.fetchall()]
    for col in ['hour', 'day_of_week', 'USA_open', 'EU_open', 'ASIA_open']:
        if col not in existing_columns:
            conn.execute(f"ALTER TABLE BTC_data ADD COLUMN {col} INTEGER;")
    conn.commit()

    # Update the new columns
    for index, row in df.iterrows():
        update_query = f"""
        UPDATE BTC_data
        SET hour = {row['hour']},
            day_of_week = {row['day_of_week']},
            USA_open = {int(row['USA_open'])},
            EU_open = {int(row['EU_open'])},
            ASIA_open = {int(row['ASIA_open'])}
        WHERE time = "{row['time']}";
        """
        conn.execute(update_query)
    conn.commit()
    
    # Verify that the update is successful
    df_check = pd.read_sql_query("SELECT * FROM BTC_data LIMIT 5;", conn)
    print(df_check)

except sqlite3.Error as e:
    print(f"An error occurred: {e}")
    conn.rollback()
finally:
    if conn:
        conn.close()

In [24]:
# Studying what other features we could add to the data from itself

df.columns

Index(['time', 'hour', 'day_of_week', 'USA_open', 'EU_open', 'ASIA_open'], dtype='object')

In [28]:
# Query db for head() of all columns
# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# Connect to the SQLite database
try:
    conn = sqlite3.connect('../BTC_data.db')
    # Execute the query and store the result in a DataFrame
    df = pd.read_sql_query("SELECT * FROM BTC_data LIMIT 30;", conn)
    print(df)
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Close the connection
    if conn:
        conn.close()

    index                 time     open     high      low    close  \
0       0  2022-09-01 06:45:00  19990.5  20000.0  19945.0  19975.0
1       1  2022-09-01 07:00:00  19975.0  19975.0  19876.0  19933.0
2       2  2022-09-01 07:15:00  19933.0  19961.5  19878.0  19898.0
3       3  2022-09-01 07:30:00  19898.0  19908.0  19771.0  19879.0
4       4  2022-09-01 07:45:00  19879.0  19924.5  19862.0  19891.5
5       5  2022-09-01 08:00:00  19891.5  19925.0  19844.0  19924.5
6       6  2022-09-01 08:15:00  19924.5  19928.0  19871.0  19871.0
7       7  2022-09-01 08:30:00  19871.0  19912.5  19807.0  19882.5
8       8  2022-09-01 08:45:00  19882.5  19920.5  19863.5  19920.0
9       9  2022-09-01 09:00:00  19920.0  19979.0  19848.0  19858.5
10     10  2022-09-01 09:15:00  19858.5  19892.5  19827.5  19892.0
11     11  2022-09-01 09:30:00  19892.0  19915.0  19874.0  19915.0
12     12  2022-09-01 09:45:00  19915.0  19950.0  19896.0  19921.5
13     13  2022-09-01 10:00:00  19921.5  19947.0  19909.0  19942.0
14     14  2022-09-01 10:15:00  19942.0  19990.0  19930.0  19950.0
15     15  2022-09-01 10:30:00  19950.0  19990.0  19940.0  19985.0
16     16  2022-09-01 10:45:00  19985.0  20015.5  19962.0  20012.0
17     17  2022-09-01 11:00:00  20012.0  20030.5  19965.0  19982.0
18     18  2022-09-01 11:15:00  19982.0  20018.0  19967.0  19980.0
19     19  2022-09-01 11:30:00  19980.0  20090.0  19976.5  20069.0
20     20  2022-09-01 11:45:00  20069.0  20120.0  20053.5  20064.0
21     21  2022-09-01 12:00:00  20064.0  20085.0  20007.0  20007.5
22     22  2022-09-01 12:15:00  20007.5  20032.5  19943.5  19968.0
23     23  2022-09-01 12:30:00  19968.0  20023.0  19880.0  19935.5
24     24  2022-09-01 12:45:00  19935.5  20028.0  19928.5  19987.0
25     25  2022-09-01 13:00:00  19987.0  20030.5  19970.0  19976.0
26     26  2022-09-01 13:15:00  19976.0  19994.0  19927.5  19953.0
27     27  2022-09-01 13:30:00  19953.0  20025.0  19900.0  19987.5
28     28  2022-09-01 13:45:00  19987.5  20009.0  19900.0  19969.5
29     29  2022-09-01 14:00:00  19969.5  19978.0  19833.5  19856.0

            vwap      upper_b1      lower_b1      upper_b2      lower_b2  \
0   20051.911081  20105.414350  19998.407813  20158.917619  19944.904544
1   20039.109666  20102.269953  19975.949380  20165.430240  19912.789093
2   20032.127497  20099.983866  19964.271127  20167.840235  19896.414758
3   20012.464334  20097.564922  19927.363747  20182.665509  19842.263160
4   20007.578221  20094.228099  19920.928343  20180.877977  19834.278464
5   20003.141964  20090.731180  19915.552748  20178.320397  19827.963531
6   20001.067068  20089.167182  19912.966955  20177.267295  19824.866842
7   19995.436596  20085.747896  19905.125296  20176.059195  19814.813997
8   19993.899120  20084.260573  19903.537667  20174.622026  19813.176214
9   19988.851760  20079.519488  19898.184031  20170.187217  19807.516303
10  19984.199922  20075.988842  19892.411001  20167.777763  19800.622080
11  19983.094321  20074.763250  19891.425393  20166.432178  19799.756465
12  19981.838294  20072.962043  19890.714545  20164.085792  19799.590796
13  19980.914342  20071.424506  19890.404178  20161.934670  19799.894014
14  19980.179632  20069.404869  19890.954395  20158.630107  19801.729158
15  19980.084473  20068.814134  19891.354811  20157.543795  19802.625150
16  19980.493487  20068.148120  19892.838855  20155.802752  19805.184223
17  19980.798975  20067.351955  19894.245994  20153.904935  19807.693014
18  19980.899406  20066.877927  19894.920886  20152.856447  19808.942365
19  19983.278282  20068.518542  19898.038023  20153.758802  19812.797763
20  19986.344959  20071.891321  19900.798598  20157.437682  19815.252237
21  19987.296952  20072.226642  19902.367263  20157.156331  19817.437574
22  19987.094498  20070.577123  19903.611874  20154.059748  19820.129249
23  19985.193089  20067.167319  19903.218858  20149.141550  19821.244628
24  19985.095152  20066.068668  19904.121636  20147.042183  19823.148120
25  19985.205283  20065.550559  19904.860006  20145.895836  19824.514730
26  19984.816448  20064.646850  19904.986046  20144.477251  19825.155645
27  19984.263040  20062.545259  19905.980820  20140.827479  19827.698601
28  19983.513308  20060.718058  19906.308558  20137.922809  19829.103808
29  19979.326664  20057.259584  19901.393743  20135.192505  19823.460823

        upper_b3      lower_b3      basis         upper         lower  \
0   20212.420888  19891.401275  20065.575  20180.181839  19950.968161
1   20228.590527  19849.628806  20054.025  20173.099966  19934.950034
2   20235.696605  19828.558389  20040.225  20164.350128  19916.099872
3   20267.766096  19757.162573  20028.200  20165.205255  19891.194745
4   20267.527855  19747.628586  20017.200  20160.852497  19873.547503
5   20265.909613  19740.374315  20007.425  20148.346707  19866.503293
6   20265.367408  19736.766729  19994.725  20136.750869  19852.699131
7   20266.370495  19724.502697  19987.025  20135.699300  19838.350700
8   20264.983479  19722.814761  19982.275  20133.125083  19831.424917
9   20260.854945  19716.848575  19975.375  20135.340270  19815.409730
10  20259.566684  19708.833159  19967.825  20128.562449  19807.087551
11  20258.101106  19708.087536  19960.925  20118.256585  19803.593415
12  20255.209541  19708.467047  19954.750  20108.040084  19801.459916
13  20252.444834  19709.383849  19948.025  20090.800514  19805.249486
14  20247.855344  19712.503920  19939.975  20061.688793  19818.261207
15  20246.273456  19713.895489  19934.425  20035.557228  19833.292772
16  20243.457384  19717.529591  19933.450  20031.137205  19835.762795
17  20240.457916  19721.140034  19932.025  20025.933187  19838.116813
18  20238.834968  19722.963845  19930.150  20018.489176  19841.810824
19  20238.999061  19727.557503  19934.075  20038.332506  19829.817494
20  20242.984043  19729.705876  19938.525  20056.132600  19820.917400
21  20242.086021  19732.507884  19942.250  20063.581983  19820.918017
22  20237.542372  19736.646625  19945.750  20065.806029  19825.693971
23  20231.115780  19739.270397  19948.575  20064.813666  19832.336334
24  20228.015699  19742.174604  19953.350  20067.647900  19839.052100
25  20226.241112  19744.169453  19955.925  20069.826833  19842.023167
26  20224.307653  19745.325243  19960.025  20067.102764  19852.947236
27  20219.109698  19749.416381  19965.275  20066.785332  19863.764668
28  20215.127559  19751.899058  19967.750  20067.115235  19868.384765
29  20213.125425  19745.527902  19967.625  20067.544405  19867.705595

    parabolicsar          twap    volume   volume_ma        adx           efi  \
0   20093.638784  20068.875000  1404.391  1079.07575  33.073108 -12916.006674
1   20086.773233  20064.422414  3596.456  1220.29990  34.286679 -32649.598863
2   20074.126839  20059.529167  2031.825  1298.35450  35.413566 -38144.495454
3   20062.239228  20053.221774  4533.626  1486.23915  37.199831 -45000.838103
4   20038.940090  20048.097656  1759.389  1512.31630  38.476938 -35430.380874
5   20017.504883  20043.496212  1817.186  1548.35975  39.783621 -21802.163892
6   19997.784492  20039.235294   839.804  1572.66005  40.921810 -25106.071051
7   19979.641733  20034.350000  2012.751  1583.53940  42.401282 -18212.827115
8   19962.950394  20030.524306   794.043  1444.80445  43.571103 -11357.192884
9   19771.000000  20027.033784  2618.389  1519.17865  43.272173 -32739.154401
10  19775.160000  20022.838816  2098.608  1575.69885  43.185362 -18018.794058
11  19779.236800  20019.663462   720.977  1583.09300  42.602459 -13075.756192
12  19783.232064  20017.187500  1143.844  1611.66535  41.322643 -10145.650165
13  19787.147423  20015.057927  1056.751  1630.15915  40.134242  -5601.500784
14  19790.984474  20013.580357  1757.301  1666.47620  38.154582  -2792.942386
15  19798.945095  20012.479651   655.623  1658.62465  36.316327    884.164383
16  19806.587291  20012.051136  1498.735  1692.07285  34.100503   6538.690185
17  19819.122054  20011.725000  1570.398  1702.06730  31.752671  -1125.685555
18  19836.032290  20011.182065   833.844  1668.98550  29.572541  -1203.114476
19  19851.589707  20011.558511  2404.497  1757.42190  28.651119  29540.220878
20  19875.430736  20012.914062  2146.153  1794.51000  28.233128  23787.222895
21  19904.779048  20013.484694  1392.728  1684.32360  26.886164   9147.743624
22  19930.605562  20012.972500  2407.109  1703.08780  25.378040  -5742.049108
23  20120.000000  20011.769608  3454.589  1649.13595  24.851202 -20960.919592
24  20115.200000  20010.961538  1853.792  1653.85610  24.270240  -4327.889936
25  20110.496000  20010.582547  1205.723  1623.28295  23.682191  -5604.327517
26  20105.886080  20009.694444  1129.593  1637.77240  23.714312  -8515.229157
27  20101.368358  20008.906818  3236.833  1698.97650  23.119963   8654.194794
28  20096.940991  20008.149554  2553.480  1786.94835  22.568068    851.789823
29  20092.602171  20006.414474  3916.362  1851.84700  22.956268 -62770.906866

          atr        obv       roc         cci  target_close  hour  \
0   68.322402  -5436.203 -0.388969 -128.941675       19933.0     6
1   70.513659  -9032.659 -0.558743 -174.971402       19898.0     7
2   71.441255 -11064.484 -0.889099 -170.945798       19879.0     7
3   76.124022 -15598.110 -1.153598 -210.705421       19891.5     7
4   75.150878 -13838.721 -1.017615 -141.899230       19924.5     7
5   75.568672 -12021.535 -0.534159 -121.345050       19871.0     8
6   74.242339 -12861.339 -0.697134 -113.383362       19882.5     8
7   76.475029 -10848.588 -0.674410 -117.919636       19920.0     8
8   75.083955 -10054.545 -0.352668  -74.460641       19858.5     8
9   79.077958 -12672.934 -0.583229  -72.081141       19892.0     9
10  78.072390 -10574.326 -0.205689  -84.536082       19915.0     9
11  75.424362  -9853.349  0.085436  -51.901841       19921.5     9
12  73.894050  -8709.505  0.213793  -28.246396       19942.0     9
13  71.330190  -7652.754  0.253877  -13.459286       19950.0    10
14  70.520890  -5895.453  0.127983   23.663038       19985.0    10
15  69.055113  -5239.830  0.573700   59.114274       20012.0    10
16  67.944033  -3741.095  0.651327  108.173077       19982.0    10
17  67.769459  -5311.493  0.311245  106.891702       19980.0    11
18  66.571641  -6145.337  0.611829  102.445648       20069.0    11
19  69.923666  -3740.840  0.889805  183.123665       20064.0    11
20  69.679119  -5886.993  0.748180  197.772605       20007.5    11
21  70.273467  -7279.721  0.431694  114.346199       19968.0    12
22  71.611077  -9686.830  0.130378   45.640655       19935.5    12
23  76.710286 -13141.419 -0.072682   -2.530559       19987.0    12
24  78.338122 -11287.627  0.010008   38.152343       19976.0    12
25  77.063971 -12493.350 -0.179892   47.635289       19953.0    13
26  76.309402 -13622.943 -0.145131   -3.654140       19987.5    13
27  79.787301 -10386.110  0.037538    8.173273       19969.5    13
28  81.873923 -12939.590 -0.495790  -16.392837       19856.0    13
29  86.347214 -16855.952 -1.036683 -139.393806       19922.5    14

    day_of_week  USA_open  EU_open  ASIA_open
0             3         0        0          1
1             3         0        0          1
2             3         0        0          1
3             3         0        0          1
4             3         0        0          1
5             3         0        1          1
6             3         0        1          1
7             3         0        1          1
8             3         0        1          1
9             3         1        1          0
10            3         1        1          0
11            3         1        1          0
12            3         1        1          0
13            3         1        1          0
14            3         1        1          0
15            3         1        1          0
16            3         1        1          0
17            3         1        1          0
18            3         1        1          0
19            3         1        1          0
20            3         1        1          0
21            3         1        1          0
22            3         1        1          0
23            3         1        1          0
24            3         1        1          0
25            3         1        1          0
26            3         1        1          0
27            3         1        1          0
28            3         1        1          0
29            3         1        1          0

In [29]:
# I would like to categorize the magnitudes data with categorical classes that make somewhat sense in differentiating different level of magnitudes and that fit the data in explaining differences.
df.columns

Index(['index', 'time', 'open', 'high', 'low', 'close', 'vwap', 'upper_b1',
       'lower_b1', 'upper_b2', 'lower_b2', 'upper_b3', 'lower_b3', 'basis',
       'upper', 'lower', 'parabolicsar', 'twap', 'volume', 'volume_ma', 'adx',
       'efi', 'atr', 'obv', 'roc', 'cci', 'target_close', 'hour',
       'day_of_week', 'USA_open', 'EU_open', 'ASIA_open'],
      dtype='object')

In [33]:
from heads_scripts import export_df_head_to_csv


# Example usage
export_df_head_to_csv(df, num_rows=30, base_directory='..', folder_name='heads_csv', file_name='BTC_cats.csv')

ModuleNotFoundError: No module named 'heads_scripts'