In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import os

In [2]:
import os
print(os.getcwd())

c:\Users\jbethune\Desktop\ML_introbook\hayqellorar\Portfolio_AlexBP\project2\notebooks

In [3]:

# Get the current working directory
current_directory = os.getcwd()

# Construct the full path to the database
db_file_path = os.path.join(current_directory, 'DATA.db')

# Connect to the SQLite database
try:
    conn = sqlite3.connect(db_file_path)
    # Execute the query and store the result in a DataFrame
    df = pd.read_sql_query("SELECT * FROM BTC_data LIMIT 5;", conn)
    print(df)
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Close the connection
    if conn:
        conn.close()

DatabaseError: Execution failed on sql 'SELECT * FROM BTC_data LIMIT 5;': no such table: BTC_data