In [18]:
import pandas as pd
pd.set_option('display.max_columns', None)

df = pd.read_csv('processed_BTC_data.csv')
df.tail()

,time,open,high,low,close,vwap,upper_b1,lower_b1,upper_b2,lower_b2,upper_b3,lower_b3,basis,upper,lower,parabolicsar,twap,base_line,leadingspan1,leadingspan2,kumo_up,kumo_down,volume,volume_ma,adx,efi,atr,obv,roc,cci,smoothing_line_1,target_close
20080,2023-03-29 23:00:00,28376.2,28443.0,28361.6,28415.4,28159.771564,28497.563864,27821.979264,28835.356164,27484.186963,29173.148465,27146.394663,28358.220,28462.398109,28254.041891,28473.183903,28066.269086,28327.50,28331.100,27990.10,28331.100,27990.10,711.157,1318.56800,18.045371,14576.487521,101.662055,17781.159,0.145908,82.235005,24.766410,28408.3
20081,2023-03-29 23:15:00,28415.4,28415.4,28352.6,28408.3,28160.804350,28498.199199,27823.409501,28835.594048,27486.014652,29172.988897,27148.619804,28366.990,28455.905733,28278.074267,28461.584546,28069.797340,28330.25,28331.100,27990.10,28331.100,27990.10,858.683,1313.32460,17.880010,11623.182261,98.886194,16922.476,0.148769,53.810760,46.692415,28355.6
20082,2023-03-29 23:30:00,28408.3,28408.4,28313.6,28355.6,28161.539989,28498.524553,27824.555426,28835.509116,27487.570862,29172.493680,27150.586299,28370.025,28452.824248,28287.225752,28450.449165,28072.972895,28340.30,28331.100,28011.30,28331.100,28011.30,718.904,1305.82475,17.143576,4550.407538,98.594323,16203.572,-0.375932,-18.576266,37.220455,28330.0
20083,2023-03-29 23:45:00,28355.6,28370.0,28293.0,28330.0,28162.069934,28498.660179,27825.479688,28835.250424,27488.889443,29171.840669,27152.299198,28371.025,28451.346327,28290.703673,28439.759198,28075.724740,28340.30,28331.100,28062.25,28331.100,28062.25,608.221,1255.83560,16.163443,1675.998233,97.051872,15595.351,-0.112475,-84.446437,13.740709,28354.6
20084,2023-03-30 00:00:00,28330.0,28359.3,28300.0,28354.6,28337.966667,28337.966667,28337.966667,28337.966667,28337.966667,28337.966667,28337.966667,28370.790,28451.274505,28290.305495,28429.496830,28335.975000,28340.30,28328.625,28062.30,28328.625,28062.30,753.842,1224.87985,15.253320,4085.786085,94.355309,16349.193,0.274428,-69.122216,-7.219831,28412.1

In [19]:
len(df)

20085